
#navDrawer{
 background: #1C97C2; 
}
/* Hides the content area until we are ready to display after paddings have been adjusted. */
.oj-applayout-content:not(.oj-complete) {
  visibility: hidden;
}

.demo-lucy-icon {
  width: 125px;
  height: 125px;
  display: block;
  padding-top: 24px;
  padding-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

.demo-profile-name {
  font-size: 1.714rem;
  text-align: center;
  color: #ffffff;
  padding-bottom: 42px;
  margin: 0;
}


#drawerToggleButton{
    content: url(../js/views/appLayout/navDrawerHybrid/images/menu.png);
    margin: 0 auto;
}


.oj-contrast-marker .oj-navigationlist-vertical .oj-navigationlist-item.oj-selected {
  background-color: rgba(0,0,0,0.25);
} 

#navDrawer{
 background: #00AFDC; 
}

.oj-contrast-marker a.oj-navigationlist-item-content .oj-navigationlist-item-label{
 color: #ffffff;
}

.oj-navigationlist-item-label{
 font-size: 150%;
}

#name{
  color: #00AFDC;
  font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
  font-weight: bold;
  display: flex;
  margin-left: 50px;
}

#name:after {
  content: '\A';
  white-space: pre;
}

#subheading{
    display: flex;
    font-size: 75%;
    margin-left: 50px;
    width: 100%;
}

#likeheader, #basketheader, #price{
  color: #00AFDC;
  font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
  font-weight: bold;
}

img#lucyIcon{
  width:50%;
  height:10%;
}

img#basketProduct{
  width: 50%;
  height: 20%;
}

img#binIcon{
  width: 20%;
  height: 40%;
}

img#menuIcons {
  width: 8%;
  height: 3%;
}

hr#rule {
  border-color: rgba(255,255,255,0.6);
}
