<style>
    #chatbotbutton {
  position:relative;
  margin-top:150%;
  width: 100%;
  height: 8%;
  background: #FFFFFF;
  color: #00AFDC;
  font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
  font-weight: bold;
  font-size: 125%;
  border-top:1px solid lightskyblue;
  border-bottom: white;
  border-left: white;
  border-right: white;
}
    
</style>

<div class="oj-hybrid-padding">
    <h3 id="likeheader">LIKE IT?</h3>
    <h3 id="basketheader">Basket</h3>

    <footer>
        <button id="chatbotbutton" type="submit">LOUISE YOUR RETAIL ASSISTANT</button>
    </footer>
</div>